apiVersion: v1
kind: Service
metadata:
  labels:
    app: grafana
  name: grafana-loadbalance
  namespace: mohit-monitaring
spec: 
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app.kubernetes.io/instance: mohit-prometheus
    app.kubernetes.io/name: grafana
  type: LoadBalancer